body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}

.btn-purple {
    background-color: #5D5FEF;
    color: #fff;
}

.btn-outline-purple {
    border-color: #5D5FEF;
    color: #5D5FEF;
}

/* end of base */

/* navbar start */
.navbar .navbar-brand {
    color: #5D5FEF;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.navbar .navbar-brand span {
    background-color: #5D5FEF;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.navbar-nav .nav-link {
    color: #A3A3A3;
    display: block;
    position: relative;
}

.navbar-nav .nav-link.active {
    color: #5D5FEF;
}

@media screen and (min-width: 992px) {
    .navbar-nav .nav-link.nav-link.active::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #5D5FEF;
        border-radius: 2px;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* navbar end */

/* categories start */
@media screen and (min-width: 992px) {
    .categories {
        text-align: justify;
    }
}

.categories .btn {
    font-size: 18px;
    color: #858585;
}

.categories .btn.active {
    background-color: #EEEFFF;
    border: none;
    color: #5D5FEF;
}

/* categories end */

/* news-item start */
@media screen and (min-width: 992px) {
    .news-item .news-thumbnail-box {
        max-width: 240px;
    }
}

.news-item .title {
    font-size: 24px;
    color: #121221;
    font-weight: 700;
}

.news-item .news-description {
    color: #949494;
}

.news-item .author-info {
    width: 30%;
}

.news-item .author-name {
    font-size: 16px;
    color: #2B2C34;
    font-weight: 400;
}

.news-item .news-date {
    font-size: 14px;
    color: #718797;
}

.news-action {
    width: 70%;
}

.news-action .arrow-btn {
    color: #5D5FEF;
}

@media screen and (max-width: 991px) {

    .news-item .author-info,
    .news-action {
        width: 100%;
    }
}

/* news-item end */

/* footer start */
footer p {
    color: #949494;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/* footer end */